.content {
  padding-top: 84px;
  padding-bottom: 104px;
  display: flex;
  flex-direction: row;
  gap: 72px;
}

.img {
  width: 640px;
  height: 512px;
  object-fit: cover;
  display: block;
  border-radius: 19px;
}
.carData {
  padding-top: 20px;
}

.formPanel {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
