.icons use {
  fill: black;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.sub {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  padding-bottom: 20px;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}
